body
{
	background-color: white;
    background-size: cover;
    background-attachment: fixed;
	font color: ;
}

h1
{
	color: black;
	font-weight: bold;
	font-family: "Lucida Console", "Courier New", monospace;

}
operation
{
	color: red;
	
}